/*

.slide{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.banner-container{
    align-items: center;
    justify-content: center;
    height: 500px;
}

.banner-slide{
    width: 80%;
    height: auto;
}

.logo-slide{
    width: 25%;
    height: auto;
}*/